<div class="main-container">
    <div class="main-container-row">
      <div class="main-container-left-bar col-md-2 col-lg-2 col-lg-offset-1">
        <h2>VENUE NAME</h2>
        <div class="venue-profile-picture">
          <img class="venue-profile-picture" src="http://media-cache-ec0.pinimg.com/236x/b9/d0/0e/b9d00e96d9c7687a1fc238350b8efd04.jpg">
        </div>

        <!-- Need to figure out how to align correctly and override Bootstrap -->
        <div class="buttons-for-profile">
          <button type="add-to-favorites" class="btn btn-default">Add to Favorites</button>

          <button type="price-list" class="btn btn-default">Price List</button>
        </div>

        <div class="contact-info">
          Contact: Wedding Sales Manager

          <p>Phone: 949/499-9534

          <p>Website: http://www.theranchatlagunabeach.com

          <p>Social Media:
          <p>P T F
        </div>

      </div>

    <div class="row">

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-8 col-lg-offset-0">

      </div>
    </div>


        <%= link_to 'New Venue', new_venue_path %>
