/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone/dropzone
 *= require_tree .
 *= require_self
 */

body {
  font-color: #807062;
  border: #E6CDB8 solid 1px;
}

.large-outer-container {
  text-align: center;
  background-color: #FFFBF5;
}

.row {
  margin: 0;
}

.corner-title {
  float: left;
  padding: 10px 10px 10px 10px;
}
.login {
  float: right;
  padding: 10px 10px 10px 10px;
}

.checkbox {
  float: right;
}

.btn {
  float: center;
}

.header {
  background-image: url(background-title.jpg);
  height: 300px;
}


.search-options {
  padding-top: 230px;
  padding-left: 400px;
}

.yield-container {
  text-align: center;
  margin: 20px auto;
  width: 1050px;
}

.footer {
  clear: both;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px
}