.main-container-left-bar {
  border: 1px solid pink;
  margin: 20px 10px 10px 0px;
}



.venue-profile-picture {
  height: 130px;
  width: 130px;
  border: 1px solid pink;
  margin: 10px 0px 20px 0px;
}

.buttons-for-profile {
  text-align: center;
  float: left;
}

.btn {
  float: left;
}