// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
  float: left;
}
/*.main-container-left-bar {
  border: 1px solid #4D797F;
  margin: 10px 10px 10px 0px;
}*/

.venue-container {
  width: 200px;
  border: 2px solid pink;
  margin: 5px 2.5px 2.5px 2.5px;
  float: left;
}


.main-container-body {
  margin-top: 15px;
  position: relative;
  width: 850px;

}

.text-wrapper {
  margin: 5px 5px 5px 5px;
}